
MacQueen 1967
 - Roughening and Coarsening - can lead to too many/few clusters and break everything



Khan 2012
 - cluster on a single column
 - results "normalized to data size"? (p.3700)
 - they have 5 clusters for Iris?
 
